<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tiko.smarthome"
    >
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/sh_emblem"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Light"
            android:label="Light">
            <intent-filter>
                <action android:name="android.intent.action.SEND"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
                <data android:mimeType="text/plain"></data>
            </intent-filter>
        </activity>
        <activity android:name=".Window"
            android:label="Window"/>
        <activity android:name=".Curtain"
            android:label="Curtain"/>
        <activity android:name=".Sofa"
            android:label="Sofa"/>
        <activity android:name=".Config"
            android:label="Config">
        </activity>
    </application>

</manifest>